$color-primary:#375363;
$color-seconday:#FFFFFF;
$color-tertiary:#4CB029;
$color-bg:#6483EA;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
   
    background-image: url(../image/0.svg);

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 130px;

    }
    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        padding-left: 10px;
    }
    &__list{
        display: inline-block;
        padding: 0 10px;

    }
    &__list a{
        color: $color-seconday;
        text-decoration: none;
        padding-left: 30px;
        font-weight: 400;
    }

   
}
.btn{
    
    border-radius: 10px;
    offset: 0px 4px;
    color: $color-seconday;
    padding: 10px 20px;
    border:none;
    text-align: center;
    font-weight: 400;

    &--primary{
        background-color: $color-tertiary;
    }
    &--secondary{
        background-color: #000000, 20%;
        color: $color-primary;
    }
 }

.video{

    background-image: url(../image/Video.svg);
    width: 1170px;
   height: 680px;
    margin: 35px 80px;
    padding-left: 30px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 20px;

    &__header{
        color: $color-primary;
        text-align: center;
        margin-bottom: 20px;
    }
    &__header h2{
        margin-bottom: 20px;
        font-size: 2.5rem;
    }
    &__header h4{
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 400;
    }
   

 }

 .about{
     text-align: center;
     margin: 40px 40px;
     padding: 0 120px;
     color: $color-primary;
     display: flex;
     align-items: center;
     flex-direction: column;

     h2{
        margin-bottom: 20px;
        font-size: 2.5rem;
     }
     p{
        font-size: 1rem;
        text-align: justify;
        line-height: 1.5;
     }
 }

 .banner{
     background-image: url(../image/banner.svg);
     height: 385px;
     display: flex;
     flex-grow: 1;
     align-items: center;
     text-align: center;
     position: relative;

     &__wrapper{
        display: flex;
        flex-direction: column;
        align-items:bottom;
        position: absolute;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);
     }
     
     

     &__title h2{
         color: $color-seconday;
         font-size: 2.5rem;
         line-height: 1.1;
         font-weight: 400;
         padding: 0 40px;
         margin-bottom: 20px;
     }
 }
 .footer{
     background-color: black;
     text-align: center;
     color: $color-seconday;
     margin-top: 0px;
     padding: 20px 0;

     a{
         text-decoration: none;
         color: $color-seconday;
         line-height: 1.5;
         font-weight: 100;
         font-size: 1rem;
     }
 }