* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1600px;
}

.header {
  background-image: url(../image/1.svg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 30px;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
}

.header__list {
  display: inline-block;
}

.header__list a {
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 30px;
  font-size: 1.2rem;
}

.btn {
  border-radius: 10px;
  offset: 0px 4px;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.btn--primary {
  background-color: #4CB029;
}

.btn--secondary {
  background-color: #000000, 20%;
  color: #375363;
}

.video {
  background-image: url(../image/Videob.svg);
  text-align: center;
  background-repeat: no-repeat;
  padding-bottom: 140px;
  background-size: 100%;
  position: relative;
  margin: 30px 50px;
}

.video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__header {
  color: #375363;
  font-weight: 400;
  margin-bottom: 10px;
  text-decoration: none;
}

.video__header h2 {
  font-size: 2.5rem;
}

.video__header h4 {
  font-size: 1.2rem;
}

.video__container {
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  padding-bottom: 36.25%;
  width: 70%;
  margin-top: 20px;
}

.video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about {
  text-align: center;
  margin: 0 40px;
  padding: 0 120px;
  color: #375363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.about p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
}

.banner {
  background-image: url(../image/banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 140px;
  padding-bottom: 50px;
}

.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner__title h2 {
  color: #FFFFFF;
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 400;
  padding: 0 40px;
  margin-bottom: 20px;
}

.footer {
  background-color: black;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0px;
  padding: 20px 0;
}

.footer a {
  text-decoration: none;
  color: #FFFFFF;
  line-height: 1.5;
  font-weight: 100;
  font-size: 1rem;
}

@media screen and (max-width: 960px) {
  header {
    max-width: 960px;
  }
  .header__nav {
    margin-left: 120px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=main.css.map */